body{
    margin: 0;
    display:flex;
    flex-direction: column;
    
}
.first{
    background-color: #1f2937;
    display:flex;
    flex-direction: column;
    gap: 136px;
    padding:24px;
}
.header{
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex:1 1 100%;
}
a {
    text-decoration: none;
    color: #f9faf8;
}
ul{
    gap:22px;
    list-style: none;
    display:flex;
    flex:none;}
.logo{
    font-size: 24px;
    color: #f9faf8;
    flex:none;
    
}
.main{
    display:flex;
    flex:1;
    padding-bottom: 70px;
    justify-content: space-evenly;
    flex:1 1 100%;
    flex:none;
}
.left{
    width: 430px;

}
.main .first-text{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin:20px;

}
.main .second-text{
    font-size: 18px;
    color: #e5e7eb;
    margin-left:20px;
    
}
.main button{
    background-color: #3882f6;
    padding:15px 32px;
    font-size: 16px;
    color:white;
    border:none;
    margin:20px;
    border-radius: 8px;
    
}
.image-one{
    background-color: rgb(255, 165, 76);
    display: flex;
    justify-content: center;
    align-items: center;
    width:500px;
    height:300px;
    border-radius: 8px;
    border: 7px rgb(201, 130, 60) solid;
}
.main button:hover{
    background-color:#4a8efa
}
.second{
    margin:150px 0;
    display: flex;
    flex-direction: column;
    gap:50px;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}
.pic-contain{
    display: flex;
    justify-content: center;
    gap:60px;
}
.container{
    display: flex;
    flex-direction: column;
}
.pic{
    width: 170px;
    height: 170px;
    border: 4px rgb(76, 148, 207) solid;
    border-radius: 10px;
}
.pic-text{
    flex:none;
    text-align: center;
    flex:none;
    width: 150px;
}
.third{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(190, 182, 182);
    padding:100px;}
.quote{
    display:flex;
    flex-direction: column;
    width: 900px;
}
.real{
    font-size: 30px;
}
.ps{
    align-self: flex-end;
    font-size:20px;
    font-weight: 700;
}

